[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
sympy = "*"
num2words = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
